---
---

@import "brand";

// Colours derived from:
//  - Cloth: e0a1e1
//  - Border: 98c46e

main {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	font-family: 'Arial', 'sans-serif';
	background-color: #d6b8ff;
	padding: 3px;
	border: 3px solid #98c46e;
	border-radius: 18pt;
	max-width: 320pt;

	> div {
		display: flex;
		justify-content: center;

		&.links {
			flex-flow: wrap;
			margin: 4pt 0pt;

			a {
				display: flex;
				margin: 1pt 2pt;
				padding: 2pt;
				align-items: center;
				border-radius: 8pt;

				&:hover {
					transform: translateY(-1pt);
					animation-name: trans;

					// Normally you'd put these in a stateless element,
					// but CSS doesn't do *anything special* for transforming back.
					// So, yes, unfortunately, this jumps back regardless.
					animation-duration: 2.5s;
					animation-direction: alternate;
					animation-timing-function: ease-in-out;
					animation-iteration-count: infinite;
				}

				span {
					margin: 2pt;
				}
			}
		}
	}
}

.center {
	text-align: center;
}

div.p {
	margin: 4pt 3pt;
}

.content {
	margin-left: 8pt;
}

@media screen and (min-width: 260px) {
	main {
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media screen and (max-width: 640px) {
	.omit {
		display: none;
	}
}

// make text transparent, background clip, background linear gradient with hard stops

@supports (background-clip: text) {
	// The backing HTML doesn't work for the .links anchors.
	// The `>` is required because Firefox
	:not(.links) > a:hover {
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(
			to right,
			skyblue, pink, white, pink, skyblue
		);
	}
}

a {
	// Makes the transform and colour blending seamless where applicable.
	// Unfortunately 'background-color' is not sufficient to fix an animation.
	transition: transform 0.2s ease,
				color 0.2s ease,
				background-color 0.2s ease;
}

@keyframes trans {
	// from intentionally omitted
	15% {
		background-color: skyblue;
	}
	65% {
		background-color: pink;
	}
	to {
		background-color: white;
	}
}


span#the-glitch-fake-icon {
	color: #0D0;
	margin: auto;
	font-family: 'System', 'monospace';
	width: 24px;
	text-align: center;
}

@media screen and (prefers-color-scheme: dark) {
	main {
		background-color: #2f2442;
		border: 3px solid #32471f;
	}
	body {
		background-color: #000;
		color: #FFF;
	}
	a {
		color: #7AF;
		&:visited {
			color: #FAF;
		}
	}
}

img {
	border-radius: 16pt;
}
