---
---

// TODO: maybe move some of the stuff out of here, like `.card` -- Moxie

@import "brand";

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	min-height: 100vh;
	min-height: 100dvh;
	font-size: 12pt;

	@media screen and (min-width: 260px) {
		align-items: center;
	}

	@media screen and (prefers-color-scheme: dark) {
		background-color: #181720;
		color: white;

		a {
			color: #7AF;
			&:visited {
				color: #FAF;
			}
		}
	}
}
// Colours derived from:
//  - Cloth: e0a1e1
//  - Border: 98c46e
.card {
	font-family: 'Arial', 'sans-serif';
	background-color: #d6b8ff;
	padding: 0.5em;
	border: 3px solid #98c46e;
	border-radius: 1em;
	max-width: 27em;

	box-shadow: 0em 1em 3em -1em black;

	@media screen and (prefers-color-scheme: dark) {
		background-color: #2f2442;
		border: 3px solid #32471f;
	}
}


.card > header {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"icon title"
		"icon subtitle";
	gap: 1em;
	margin-bottom: 1em;

	> img {
		grid-area: icon;
	}

	> .title, > .subtitle {
		display: flex;
		flex-direction: column;
	}

	> .title {
		grid-area: title;
		justify-content: flex-end;

		> h1 {
			margin-block: 0;
		}
	}

	> .subtitle {
		grid-area: subtitle;
		font-style: italic;
		justify-content: center;

		> p {
			margin-block: 0;
		}
	}
}

nav.links > ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-flow: wrap;
	flex-direction: row;
	justify-content: center;

	flex-flow: wrap;
	margin: 1em 0pt;

	a {
		display: flex;
		margin: 1pt 2pt;
		padding: 2pt;
		align-items: center;
		border-radius: 8pt;

		span {
			margin: 2pt;
		}

		&:hover {
			transform: translateY(-1pt);
			animation-name: trans;

			// Normally you'd put these in a stateless element,
			// but CSS doesn't do *anything special* for transforming back.
			// So, yes, unfortunately, this jumps back regardless.
			animation-duration: 2.5s;
			animation-direction: alternate;
			animation-timing-function: ease-in-out;
			animation-iteration-count: infinite;
		}
	}
}


.center {
	text-align: center;
}

div.p {
	margin: 4pt 3pt;
}

.content {
	margin-left: 8pt;
}

@media screen and (max-width: 640px) {
	.omit {
		display: none;
	}
}

// make text transparent, background clip, background linear gradient with hard stops

@supports (background-clip: text) {
	// The backing HTML doesn't work for the .links anchors.
	// The `>` is required because Firefox
	:not(.links) > a:hover {
		color: transparent;
		background-clip: text;
		background-image: linear-gradient(
			to right,
			skyblue, pink, white, pink, skyblue
		);
	}
}

a {
	// Makes the transform and colour blending seamless where applicable.
	// Unfortunately 'background-color' is not sufficient to fix an animation.
	transition: transform 0.2s ease,
				color 0.2s ease,
				background-color 0.2s ease;
}

@keyframes trans {
	// from intentionally omitted
	15% {
		background-color: skyblue;
	}
	65% {
		background-color: pink;
	}
	to {
		background-color: white;
	}
}

span#the-glitch-fake-icon {
	color: #0D0;
	margin: auto;
	font-family: 'System', 'monospace';
	width: 24px;
	text-align: center;
}

img {
	border-radius: 16pt;
}
