@use "sass:meta";
@use "sass:list";

@mixin branded-link($name, $args, $offset) {
	a##{$name} {
		@if list.length($args) > 3 {
	        --#{$name}-branding: #{list.nth($args, 3 + $offset)};
		}
		background-color: list.nth($args, 1 + $offset);
	}
}

@mixin branded-links($args...) {
	@each $name, $list in meta.keywords($args) {
		@include branded-link($name, $list, 0);
	}

	@media screen and (prefers-color-scheme: dark) {
		@each $name, $list in meta.keywords($args) {
			@include branded-link($name, $list, 1);
		}
	}
}

// light, dark, branding-light, branding-dark
@include branded-links(
	$github: (#FFF, #1b1817, #1b1817, #FFF),
    $modrinth: (#DFFFEF, #01180a, #0abf71, #1DD76A),
    $ko-fi: (#d2eef9, #06222d),
    $blobfox-coffee: (#ffd6b3, #331800), // ffc999 ;
    $discord: (#d7ddf4, #1a2032),// 7289da / c3ccef ; 4e5d94 / 101a3c
    $pridecraft: (#FFEEFF, #180018),
);
