@use "sass:color";

@mixin hibiscus-color($name, $color) {
	&.#{$name} {
		--hibiscus-outer: #{$color};
        --hibiscus-inner: #{color.adjust($color, $lightness: -15%, $chroma: +9%, $space: oklch)};
        --hibiscus-stem: #{color.adjust($color, $lightness: -30%, $chroma: +18%, $space: oklch)};
	}
}

#hibiscus-decorations {
	svg {
		position: absolute;
		--dx: 0;
		--dy: 0;
		--rotation: 0;
		--delay: 0s;
		--duration: 2s;
		transform: rotate(calc(var(--rotation) * 90deg));
		animation: var(--duration) ease-in-out infinite var(--delay) alternate hibiscus;

		display: none;

		@media screen {
			display: block;
		}

		&.hibiscus-top {
			top:  calc(var(--dy) * +1px + var(--x));
			left: calc(var(--dx) * +1px + var(--y));
		}
		&.hibiscus-bottom {
			bottom: calc(var(--dy) * -1px + var(--x));
			left:   calc(var(--dx) * +1px + var(--y));
		}
		&.hibiscus-left {
			top:  calc(var(--dy) * +1px + var(--y));
			left: calc(var(--dx) * +1px + var(--x));
		}
		&.hibiscus-right {
			top:   calc(var(--dy) * +1px + var(--y));
			right: calc(var(--dx) * -1px + var(--x));
		}

		&.blue {
			--hibiscus-outer: #5BCEFA;
            --hibiscus-inner: #5985EA;
            --hibiscus-stem: #1947BE;
		}

		&.white {
			--hibiscus-outer: #E4E4E4;
            --hibiscus-inner: #AFADA8;
            --hibiscus-stem: #5B594E;
		}

		@include hibiscus-color("black", #222222);

		// Lesbian-specific
		@include hibiscus-color("dark-orange", #D52D00);
		@include hibiscus-color("light-orange", #FF8A56);
		@include hibiscus-color("light-purple", #D362A4);
		@include hibiscus-color("dark-purple", #A30262);

		// Plural-speciifc
		@include hibiscus-color("mystery", #6B3FBC);
		@include hibiscus-color("trust", #347DDE);
		@include hibiscus-color("harmony", #31C69E);
	}
}

@keyframes hibiscus {
	0% {
		transform: rotate(calc(var(--rotation) * 90deg - 45deg));
	}

	100% {
		transform: rotate(calc(var(--rotation) * 90deg + 45deg));
	}
}
