:root {
	background-color: oklch(95% 0.085 326.06);

	@media screen and (prefers-color-scheme: dark) {
		background-color: oklch(17.5% 0.025 326.06);
		color: white;

		a {
			color: #7AF;
			&:visited {
				color: #FAF;
			}
		}
	}
}

// Custom highlight colours
::selection {
	background-color: oklch(88.69% 0.061 130.95);
	color: oklch(45.15% 0.078 326.06);

	@media screen and (prefers-color-scheme: dark) {
		background-color: oklch(82.78% 0.092 130.95);
	}
}
